<div class="flight-card-wrapper">
  <div class="row">
      <div class="col-md-3">Origin</div>
      <div class="col-md-9">{{flight.from}}</div>
  </div>
  <div class="row">
      <div class="col-md-3">Destination</div>
      <div class="col-md-9">{{flight.to}}</div>
  </div>
  <div class="row">
      <div class="col-md-3">Date</div>
      <div class="col-md-9">{{flight.date | date:'dd.MM.yyyy'}}</div>
  </div>
  <button class="btn" [ngClass]="{'btn-danger': selected, 'btn-success': !selected}" (click)="toggleSelect()" >{{selected ? 'Remove' : 'Select'}}</button>
</div>
