<header class="page-header row justify-center">
  <div class="col">
    <h1 class="float-left text-center text-md-left">
      Flight Search
    </h1>
  </div>
</header>

<section class="row">
  <div class="col-sm-12">
    <section class="row">

      <div class="col-md-12">

        <div class="card md-4">

          <app-flight-basket [selectedFlightIds]="selectedFlightIds">
              <h3 class="card-title">Basket</h3>

              <button class="btn btn-danger btn-md" id="btn-todo" (click)="resetBasket()">
                  <em class="fa fa-2x fa-trash"></em>
                </button>
          </app-flight-basket>
          
        </div>

      </div>

      <div class="col-md-12">

        <div class="card mb-4">

          <div class="card-body">
            <h3 class="card-title">Flight Search</h3>


            <div class="form-group row">
              <label for="from" class="col-2 col-form-label">From:</label>
              <div class="col-10">
                <input id="from" class="form-control" type="text" [ngModel]="from" (ngModelChange)="from = $event">
              </div>
            </div>

            <div class="form-group row">
              <label for="to" class="col-2 col-form-label">To:</label>
              <div class="col-10">
                <input id="to" class="form-control" type="text" [(ngModel)]="to">
              </div>
            </div>

            <button type="button" class="btn btn-outline-secondary" (click)="searchFlights(from, to)">
              Search
            </button>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Upcoming Flights</h3>

            <div class="dropdown card-title-btn-container">
              <button class="btn btn-sm btn-subtle" type="button">
                <em class="fa fa-list-ul"></em> View All
              </button>

              <button class="btn btn-sm btn-subtle dropdown-toggle" type="button">
                <em class="fa fa-cog"></em>
              </button>
            </div>

            <app-flight-card *ngFor="let flight of flights" [flight]="flight" [selected]="selectedFlightIds[flight.id]" (selectedChange)="selectFlight($event)"></app-flight-card>

          </div>
        </div>

      </div>
    </section>
  </div>
</section>
